<dl>
    <dt>Title</dt>
    <dd> {{(product | async)?.title}} </dd>

    <dt>Brand</dt>
    <dd> {{(product | async)?.brand}} </dd>

    <dt>Creation date</dt>
    <dd> {{(product | async)?.date}} </dd>

    <dt>Price</dt>
    <dd> {{(product | async)?.price}} </dd>

    <dt>Image</dt>
    <dd> {{(product | async)?.image}} </dd>

    <dt>Description</dt>
    <dd> {{(product | async)?.description}} </dd>

    <dt>Details</dt>
    <dd> {{(product | async)?.details}} </dd>
</dl>
<button routerLink="/catalog">Back</button>