<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.category}}</td>
            <td>{{product.title}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.image}}</td>
            <td>{{product.description}}</td>
            <td>{{product.quantity}}</td>
            <td><button (click)="removeFromCart.emit({productId: product.id, quantity: 1})">-</button></td>
            <td><button (click)="addToCart.emit({productId: product.id, quantity: 1})">+</button></td>
            <td><button [routerLink]="['/catalog', product.id]">Details</button></td>
            <td><button (click)="removeFromCart.emit({productId: product.id})">x</button></td>
        </tr>
    </tbody>
</table>

Total price: {{totalPrice}}

<button (click)="clearCart.emit()">Clear</button>
