<form [formGroup]="registerForm">
    <div>
        <label>
            Email
            <input type="email" formControlName="email">
        </label>
    </div>
    <div formGroupName="matchingPasswords">
        <div>
            <label>
            Password
                <input type="password" formControlName="password">
            </label>
        </div>
        <div>
            <label>
            Repeat Password
                <input type="password" formControlName="repeatPassword">
            </label>
        </div>
    </div>
</form>

<button (click)="back()">Back</button>
<button (click)="register()" [disabled]='!registerForm.valid'>Register</button>